{{page-title "Accueil"}}

<h1>Service</h1>
<strong>{{les-produits @model.nbActif}}</strong>

  {{#each @model.product as |product|}}
    <br><input type="button" value="{{product.name}} {{prix-monnaie product.price "$"}}" {{action "toggleActive" product}}/>
  {{/each}}

<h4>Total : {{prix-monnaie @model.coutPourActif "$"}}</h4>

<hr>

<input type="text" value="{{@model.code}}"><input type="checkbox"/>

{{outlet}}